<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="/fonts/Raleway-Regular.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/fonts/pincoyablack.woff" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" type="text/css" href="/css/asciinema-player.css" async="true" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  {% seo %}
</head>
